body {
  background-color: $base-background-color;
  background-image: url('../assets/background.png');
  background-repeat: repeat-y;
  background-position: right top;

  .page-content {
    margin-left: $side-width;

    .container-fluid {
      margin-top: $navbar-height;
      padding: $spacing-lg;
    }

    .aikido {
      text-align: justify;
      .row {
        padding-bottom: $spacing-md;
      }
    }
  }
}
