.side {
  background-color: $dark-background-color;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
  margin-top: -($spacing-md);
  position: fixed;
  height: 100%;
  width: $side-width;

  .section {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
    p {
      margin: 0;
    }
  }
}
