<div class="index container-fluid">

  <h1>Pratiquer l'aïkido à Troyes</h1>
  <div class="row">
    <div class="col-1 col-md-2 col-lg-2">
      <img src="{{rootURL}}/assets/logo_aiki3_complete.png" alt="Aiki3" title="Aiki3">
    </div>
    <div class="col-11 col-md-10 col-lg-10">
      <p>L'Aiki3 est un club d'aïkido à Troyes.</p>
      <p>Les cours sont assurés par <strong>Michel Czerniak</strong>, ceinture noire 6e Dan.</p>
      <p>Le groupe se compose d'une vingtaine de licenciés.</p>
      <p>L'Aiki3 est affilié à la <a href="http://www.aikido.com.fr" target="_blank" rel="noopener"><strong>FFAAA</strong></a>.</p>
    </div>
  </div>

</div>
