<div class="practice container-fluid">

  <h1 class="first">Que dois-je faire pour venir pratiquer ?</h1>
  <div class="row">
    <div class="col-12">
      <h5>Faut-il avoir une expérience particulière ?</h5>
      <p>Non, tous les niveaux sont acceptés, débutants ou expérimentés.</p>
      <h5>Faut-il apporter du matériel ?</h5>
      <p>Pour les premiers cours, un survêtement en coton est accepté.
      Ensuite, un kimono type judo et une ceinture blanche sont nécessaires pour la pratique.</p>
    </div>
  </div>

  <h1>Plan d'accès et horaires des cours</h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h5>Mardi</h5>
      <div class="section">
        <p>de 20h à 22h</p>
        <p>Complexe ASPTT TROYES</p>
        <p>Rue Raymond Burgard, 10000 Troyes</p>
        {{g-map lat='48.275142' lng='4.067880' zoom=18}}
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h5>Jeudi</h5>
      <div class="section">
        <p>de 20h à 22H</p>
        <p>TOS KARATE-DO</p>
        <p>19 Rue de la tour Boileau, 10000 Troyes</p>
        {{g-map lat='48.291236' lng='4.067936' zoom=18}}
      </div>
    </div>
  </div>

  <h1>Tarifs</h1>
  <div class="row">
    <div class="col-6">
      <h5>Côtisation annuelle</h5>
      <ul>
        <li>Adulte : 200 euros</li>
        <li>Étudiant : 150 euros</li>
        <li>Couple : 2 x 150 euros</li>
      </ul>
    </div>

    <div class="col-6">
      <h5>Licence fédérale</h5>
      <ul>
        <li>Adulte : 35 euros</li>
        <li>Enfant : 22 euros</li>
      </ul>
    </div>
    <em>Un certificat médical vous autorisant la pratique de l'Aïkido est nécessaire pour toute demande de licence.</em>
  </div>

  <h1>Etiquette</h1>
  <div class="row">
    <div class="col-12">
      <p>Bien qu'il y ait de nombreuses règles d'étiquette à assimiler, elles viendront naturellement avec une pratique régulière. Ne soyez pas vexé si on vous corrige un détail, car chacun est important pour la sécurité de tous et a un but  éducatif précis. L'Aïkido n'est pas une religion mais une éducation et un perfectionnement de l'esprit.</p>
      <ul>
        <li>En montant sur le tapis et en le quittant, vous devez saluer.</li>
        <li>Saluez toujours en direction du SHOMEN et du fondateur.</li>
        <li>Respectez vos instruments de travail. Le GI (tenue pratique) doit être propre et en bon état, les armes rangées lorsqu'elles ne sont pas utilisées.</li>
        <li>Ne vous servez jamais d'un GI ou d'armes qui ne vous appartiennent pas.</li>
        <li>Quelques minutes avant la pratique, vous devez être échauffé, assis en seiza, tous sur une même ligne. Ces quelques minutes permettent à votre esprit de faire le vide, de se débarrasser des problèmes de la journée et préparent à l'étude.</li>
        <li>Le cours commence et se termine par une cérémonie formelle. Il est essentiel d'être à l'heure pour y participer mais si vous arrivez en retard, vous devez attendre à côté du tapis jusqu'à ce que l'enseignant vous fasse signe de vous joindre au cours. Saluez en montant sur le tapis. Veillez aussi à ne pas perturber le cours.</li>
        <li>La façon correcte de s'asseoir sur le tapis est la position en seiza. Mais si vous êtes blessé au genou, vous pouvez vous asseoir en tailleur. N'allongez jamais les jambes et ne vous adossez pas au mur ou à un poteau. Vous devez être disponible à chaque instant.</li>
        <li>Ne quittez pas le tapis pendant la pratique sauf en cas de blessure ou de malaise.</li>
        <li>Quand le professeur montre une technique, vous devez restez assis en seiza et regarder attentivement. Après la démonstration, saluez un partenaire et commencez à travailler.</li>
        <li>Dès que la fin d'une technique est annoncée, arrêtez immédiatement votre mouvement, saluez votre partenaire et rejoignez les autres pratiquants assis en ligne.</li>
        <li>Ne restez jamais debout sur le tapis sans travailler. S'il le faut, restez en seiza en attendant votre tour.</li>
        <li>Si pour une raison ou pour une autre vous devez absolument poser une question au professeur, allez vers lui, ne l'appelez jamais : saluez-le avec respect et attendez qu'il soit disponible. (Un salut debout suffit dans ce cas).</li>
        <li>Quand le professeur vous montre un mouvement en particulier pendant le cours, mettez-vous à genoux et regardez attentivement. Saluez-le lorsqu'il a terminé. Quand il corrige un autre pratiquant, vous pouvez vous arrêtez de travailler pour regarder. Asseyez-vous en seiza et saluez de même.</li>
        <li>Respectez les pratiquants les plus gradés. Ne discutez jamais à propos de technique.</li>
        <li>Vous êtes là pour travailler, non pour imposer vos idées aux autres.</li>
        <li>Si vous connaissez le mouvement et que vous travaillez avec quelqu'un qui ne le connaît pas, vous pouvez le guider. Mais n'essayez pas de corriger si vous n'avez pas le niveau YUDANSHA (ceinture noire).</li>
        <li>Parlez le moins possible sur le tapis.</li>
        <li>Ne vous prélassez pas sur le tapis avant ou après le cours. Il est réservé à ceux qui désirent pratiquer.</li>
        <li>Le tapis devrait être balayé chaque jour avant les cours et en fin de journée. Chacun est responsable de la propreté du dojo.</li>
        <li>Il est interdit de manger, boire, fumer, mastiquer du chewing-gum sur le tapis et en dehors pendant la pratique ni sur le tapis à n'importe quel moment.</li>
        <li>Le port des bijoux est à proscrire pendant la pratique.</li>
        <li>On dit habituellement « Onegaï shimasu » ( litt : je vous fais une requête, s'il vous plaît) au moment du salut du début du cours et « Arigatoo gozaïmashita » (merci) en fin de cours.</li>
        <li>Il convient de faire son possible pour respecter l'harmonie du dojo et de la plénitude à la pratique.</li>
      </ul>

      <p>Vous pouvez inviter quiconque à venir regarder un cours à n'importe quel moment, à condition que les règles suivantes soient observées :</p>
      <ul>
        <li>Prenez place avec discrétion, ne posez jamais les jambes sur un meuble et n'adoptez pas une position semi-allongée</li>
        <li>Il est interdit de boire ou de manger pendant les cours.</li>
        <li>Ne parlez à personne se trouvant sur le tapis.</li>
        <li>Ne vous promenez pas pendant que le professeur montre ou corrige un mouvement.</li>
      </ul>
    </div>
  </div>

</div>
