<div class="stages container-fluid">

  <h1>Calendrier</h1>
  <div class="row">
    <div class="col-11">
      <p>Ci-dessous le calendrier des stages de Patrick Bénézi, Shihan 7ème Dan.</p>
      <iframe
        src="https://calendar.google.com/calendar/embed?showDate=0&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23333333&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%232952A3&amp;src=2e6mqib6h7mus3ekj4kjas6cdk%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Europe%2FParis"
        style="border-width:0"
        width="800"
        height="600"
        frameborder="0"
        scrolling="no">
      </iframe>
      <br>
      <p>Pour tout renseignement, veuillez contactez Patrick Bénézi :</p>
      <ul>
        <li>Tél : 06 11 40 19 31</li>
        <li>Site : <a href="http://www.aikido-benezi.com" target="_blank">http://www.aikido-benezi.com</a></li>
        <li>E-mail : <a href="mailto:patrick.benezi@sfr.fr">patrick.benezi@sfr.fr</a></li>
        <li><a href="http://www.aikido-benezi.com/abo_news/index.php" target="_blank">S'inscrire à la newsletter pour recevoir les affiches des stages</a></li>
      </ul>
    </div>
  </div>

</div>
