<div class="stages">

  <h1>Calendrier</h1>
  <div class="row">
    <div class="col-12">
      <p>Ci-dessous le calendrier des stages de Patrick Bénézi, Shihan 7ème Dan.</p>
      {{! template-lint-disable no-inline-styles }}
      <iframe
        src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23333333&amp;src=2e6mqib6h7mus3ekj4kjas6cdk%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FParis"
        style="border-width:0"
        width="800"
        height="600"
        frameborder="0"
        scrolling="no">
      </iframe>
      <br>
      <p>Pour tout renseignement, veuillez contactez Patrick Bénézi :</p>
      <ul>
        <li>Site : <a href="http://www.aikido-benezi.com" target="_blank" rel="noopener">http://www.aikido-benezi.com</a></li>
      </ul>
    </div>
  </div>

</div>
